body {
    margin: 0 !important;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: lightgreen;
}

.red {
    background-color: red;
    opacity: 0.7;
}

.blue {
    background-color: dodgerblue;
}

.orange {
    background-color: darkorange;
}

.white {
    background-color: white;
}

.cube-face {
    display: inline-block;
    width: 300px;
    height: 300px;
}

.cube-tile {
    display: inline-block;
    width: 98px;
    height: 98px;
    border: solid 1px black;
}

.cube-tile > div {
    padding: 10px;
}

.tile-row {
    height: 100px
}

.back {
    position: absolute;
    left: 300px;
}

.left {
    position: absolute;
    left: 0px;
    top: 300px;
}

.up {
    position: absolute;
    left: 300px;
    top:300px;
}

.right {
    position: absolute;
    left: 600px;
    top: 300px;
}

.down {
    position: absolute;
    left: 900px;
    top: 300px;
}

.front {
    position: absolute;
    left: 300px;
    top: 600px;
}

.step-panel {
    width: 700px;
    height: auto;
    background-color: beige;
    position: fixed;
    top: 10px;
    right: 10px;
}